{% load static %}
<section class="aboutme" id="about">
    <img src="{% static 'multimedia/FotoCarnet.jpeg' %}" alt="">
    <div class="cambioSeccion">
        <h2>Sobre mí</h2>
        <hr>
    </div>
    <h3>Tomas Cueva</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam officiis temporibus iste. Aspernatur debitis dolore totam, esse saepe ab pariatur velit officia fuga, numquam nobis reiciendis quam explicabo! Provident, consequuntur?
    </p>
    <div class="cambioSeccion">
        <h2>Competencias</h2><hr>
    </div>
    <ul>
        <li>Python</li>
        <li>R</li>
        <li>SQL</li>
        <li>Django</li>
        <li>Git</li>
        <li>CRUD</li>
    </ul>
</section>