{% load static %}
<section class="projects">
    <div class="cambioSeccion">
        <h2>Proyectos propios</h2>
        <hr>
    </div>
    <div class="cards-projects">
        <article class="card-SEA">
            <img src="{% static 'multimedia/FotoCarnet.jpeg' %}" alt="">
            <div class="card-SEA-body">
                <strong>Titulo de proyecto</strong>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque veniam perspiciatis officia excepturi aspernatur eum pariatur vero dicta numquam eveniet iste qui blanditiis, natus rem recusandae amet tempora. Minus, quis.</p>
                <strong>Herramientas utilizadas</strong>
                <ul>
                    <li>Herramienta1</li>
                    <li>Herramienta2</li>
                    <li>Herramienta1</li>
                    <li>Herramienta2</li>
                </ul>
                <a href="#">
                    <span><i>icono</i>Visitar pagina</span>
                </a>
                <a href="#">
                    <span><i>icono</i>Visitar pagina</span>
                </a>
            </div>
        </article>
        <article class="card-SEA">
            <img src="{% static 'multimedia/FotoCarnet.jpeg' %}" alt="">
            <div class="card-SEA-body">
                <strong>Titulo de proyecto</strong>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque veniam perspiciatis officia excepturi aspernatur eum pariatur vero dicta numquam eveniet iste qui blanditiis, natus rem recusandae amet tempora. Minus, quis.</p>
                <strong>Herramientas utilizadas</strong>
                <ul>
                    <li>Herramienta1</li>
                    <li>Herramienta2</li>
                </ul>
                <a href="#">
                    <i>icono</i>
                    <span>Codigo</span>
                </a>
                <a href="#">
                    <i>icono</i>
                    <span>Visitar pagina</span>
                </a>
            </div>
        </article>
        <article class="card-SEA">
            <img src="{% static 'multimedia/FotoCarnet.jpeg' %}" alt="">
            <div class="card-SEA-body">
                <strong>Titulo de proyecto</strong>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque veniam perspiciatis officia excepturi aspernatur eum pariatur vero dicta numquam eveniet iste qui blanditiis, natus rem recusandae amet tempora. Minus, quis.</p>
                <strong>Herramientas utilizadas</strong>
                <ul>
                    <li>Herramienta1</li>
                    <li>Herramienta2</li>
                </ul>
                <a href="#">
                    <i>icono</i>
                    <span>Codigo</span>
                </a>
                <a href="#">
                    <i>icono</i>
                    <span>Visitar pagina</span>
                </a>
            </div>
        </article>
        <article class="card-SEA">
            <img src="" alt="">
            <div class="card-SEA-body">
                <strong>Titulo de proyecto</strong>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque veniam perspiciatis officia excepturi aspernatur eum pariatur vero dicta numquam eveniet iste qui blanditiis, natus rem recusandae amet tempora. Minus, quis.</p>
                <strong>Herramientas utilizadas</strong>
                <ul>
                    <li>Herramienta1</li>
                    <li>Herramienta2</li>
                </ul>
                <a href="#">
                    <i>icono</i>
                    <span>Codigo</span>
                </a>
                <a href="#">
                    <i>icono</i>
                    <span>Visitar pagina</span>
                </a>
            </div>
        </article>
    </div>
</section>