{% load static %}
<section class="projects">
    <div class="cambioSeccion">
        <h2>Proyectos propios</h2>
        <hr>
    </div>
    <div class="cards-projects">
        <article class="card-SEA">
            <img src="{% static 'multimedia/FotoCarnet.jpeg' %}" alt="">
            <div class="card-SEA-body">
                <strong>Titulo de proyecto</strong>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque veniam perspiciatis officia excepturi aspernatur eum pariatur vero dicta numquam eveniet iste qui blanditiis, natus rem recusandae amet tempora. Minus, quis.</p>
                <div>
                    <button class="button_SEA github">
                        <a href="#">
                            <i class="bi bi-github"></i><span>Ver codigo</span>
                        </a>
                    </button>
                </div>
            </div>
            <span class="note">Herramientas destacadas: Django y SASS</span>
        </article>
    </div>
</section>