.card-SEA{
    margin: auto 32px ;
    border-radius: 12px;
    background-color: nth($colors,1 );
    max-width: 324px;
    height: max-content;
    img{
        width: 100%;
        max-height: 256px;
        object-fit: cover;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
    }
    .card-SEA-body{
        margin: 16px;
        strong{
            color: nth($colors,3 );
            font-size: 1.2rem;
        }
        p{
            margin: 8px 0;
        }
        div{
            @include flex(row,space-around,center);
        }
    }
    .note{
        display: inline-block;
        padding: 4px 8px;
        font-size: 0.8rem;
        color: darken(nth($colors,1), 45%);
        margin: 4px 8px;
    }

}