.button_SEA {
  height: max-content;
  width: max-content;
  border-radius: 12px;
  border: none;
  padding: 8px 16px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.button_SEA a {
  text-decoration: none;
}

.button_SEA.github {
  background-color: #131114;
}
.button_SEA.github a {
  color: #F6F6F6;
}
.button_SEA.github:hover {
  background-color: #F6F6F6;
}
.button_SEA.github:hover a {
  color: #131114;
}
.button_SEA.github:active {
  background-color: #131114;
}
.button_SEA.github:active a {
  color: #F6F6F6;
}

body {
  background-color: #F6F6F6;
}

.cambioSeccion {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin: 32px auto 24px auto;
}
.cambioSeccion hr {
  width: 45%;
  margin-left: 16px;
}
.cambioSeccion h2 {
  margin: auto 32px auto 0px;
}

section {
  padding: 32px 16px 64px 16px;
}

header .navbar.bg-dark-SEA {
  background-color: #131114 !important;
}
header .navbar .conteiner-fluid .navbar-brand {
  width: auto;
}
header .navbar .conteiner-fluid .navbar-brand img {
  width: 32px;
  height: 32px;
}
header .navbar a {
  color: #F6F6F6 !important;
}
header .navbar a:hover {
  color: #F6F6F6 !important;
}
@media only screen and (min-width: 992px) {
  header li {
    margin-left: 32px;
    font-weight: 600;
    font-size: 1.2rem;
  }
}

.presentation {
  background-color: #F6F6F6;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.presentation img {
  border-radius: 50%;
  width: 75%;
}
.presentation strong, .presentation span {
  color: #131114;
}
.presentation h1 {
  font-size: 1.6em;
  margin: 12px auto;
  color: #8357BB;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .presentation img {
    width: 40%;
    margin-top: 64px;
  }
  .presentation strong, .presentation span {
    color: #131114;
    font-size: 1.2em;
  }
  .presentation h1 {
    font-size: 2.1em;
    font-weight: 600;
    margin: 24px auto 16px auto;
    color: #8357BB;
  }
}
@media only screen and (min-width: 1201px) {
  .presentation img {
    width: 30%;
    margin-top: 64px;
  }
  .presentation strong, .presentation span {
    color: #131114;
    font-size: 1.2em;
  }
  .presentation h1 {
    font-size: 2.1em;
    font-weight: 600;
    margin: 24px auto 16px auto;
    color: #8357BB;
  }
}

.aboutme {
  background-color: #E7E7E7;
}
.aboutme img {
  width: 85%;
  margin: auto 32px;
}
.aboutme *:not(h3) {
  color: #131114;
}
.aboutme h3 {
  color: #8357BB;
  margin-top: 21px;
}
.aboutme p {
  margin-bottom: 21px;
}
.aboutme ul {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  margin-top: 21px;
}
.aboutme ul li {
  margin: 8px;
}
@media only screen and (min-width: 992px) {
  .aboutme {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "img aboutme" "img tomascueva" "img text" "img skills" "img ul";
    max-height: 700px;
  }
  .aboutme > *:not(img) {
    margin-left: 16px;
  }
  .aboutme img {
    height: 90%;
    margin: 0px;
    grid-area: img;
    object-fit: cover;
    width: 95%;
  }
  .aboutme .cambioSeccion {
    margin: 0px;
  }
  .aboutme .cambioSeccion h2 {
    margin-left: 16px;
  }
  .aboutme .cambioSeccion *:first-child {
    grid-area: aboutme;
  }
  .aboutme .cambioSeccion *:nth-child(2) {
    grid-area: tomascueva;
  }
  .aboutme h3 {
    margin-top: 32px;
    grid-area: tomascueva;
    font-size: 1.8rem;
  }
  .aboutme p {
    margin-bottom: 32px;
    grid-area: text;
    font-size: 1.2rem;
  }
  .aboutme ul {
    margin-top: 32px;
    grid-area: ul;
  }
  .aboutme ul li {
    margin: 8px;
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 1201px) {
  .aboutme {
    padding: 64px 256px;
  }
}

.projects {
  background-color: #F6F6F6;
  color: #131114;
}
.projects .cambioSeccion {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin: 32px auto 24px auto;
}
.projects .cambioSeccion hr {
  width: 35%;
  margin-left: 16px;
}
.projects .cambioSeccion h2 {
  margin: auto 0;
}
.projects .cards-projects .card-SEA {
  margin: auto 32px;
  border-radius: 12px;
  background-color: #E7E7E7;
  max-width: 324px;
  height: max-content;
}
.projects .cards-projects .card-SEA img {
  width: 100%;
  max-height: 256px;
  object-fit: cover;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
.projects .cards-projects .card-SEA .card-SEA-body {
  margin: 16px;
}
.projects .cards-projects .card-SEA .card-SEA-body strong {
  color: #8357BB;
  font-size: 1.2rem;
}
.projects .cards-projects .card-SEA .card-SEA-body p {
  margin: 8px 0;
}
.projects .cards-projects .card-SEA .card-SEA-body div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.projects .cards-projects .card-SEA .note {
  display: inline-block;
  padding: 4px 8px;
  font-size: 0.8rem;
  color: #747474;
  margin: 4px 8px;
}

/*# sourceMappingURL=style.css.map */
