
header{
    .navbar.bg-dark-SEA {
        background-color: nth($colors,2) !important;
      }
    .navbar{
        .conteiner-fluid{
            .navbar-brand{
                width: auto;
                img{
                    width: 32px;
                    height: 32px;
                }
            }
        }
        a{
            color: $background !important;
            &:hover{
                color: $background !important;
            }
        }
    }
    @media only screen and (min-width: 992px){
        li{
            margin-left: 32px;
            font-weight: 600;
            font-size: 1.2rem;
        }
    }
}

  